#########################
# general
#########################

[Bb]uild/
[Oo]bj/
*.o
example/obj/*

#########################
# IDE
#########################

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
*.db

#########################
# operating system
#########################

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini